{% import 'ElasticSearchManagementBundle::Helpers/form.html.twig' as forms %}

{% if (not_selected_indice is not defined) or (not_selected_indice == false) %}
    <label>Type</label>
    {{ forms.select('type_name', type_name|default(""), type_filter_options) }}
{% endif %}